.container-fluid{
	
}
.container{
	width: 80%;
}
.nav{
	background: url(../img/bg0.png);
	background-repeat: no-repeat;
	background-size: cover;
}
header a{
	display: line;
	color:white;
	text-align: right;
}
header p{
	color:white;
	font-size: 0.8em;
}
h1, h2, h3, h5{
	text-align: center;
	padding: 5px 5px 5px 5px;
}
h1{
	color: white;
}
h3{
	color:white;
}
h4{
	color: white;
}
.navbar-nav{
	flex-direction:row;
}
.header-img{
	background: url(../img/bg1.png);
}
.info{
	background-color:#232324;
	text-align: center;
}
.info h5, h2{
	color:white;
}
.info p{
	color:#cf4436;
}
.team{
	background-color:#6cc372;
	justify-content: space-evenly;
}
.team p{
	text-align: center;
}
.team img{
	width: 220px;
	height: 300px;
}
.view{
	background-color:#f0f0f0;
}
.view h2{
	color:#616161;
}
.view p{
	color:#6cc372;
	text-align: center;
}
.ellipse{
	padding-top: 15px;
	padding-bottom: 15px;
}
.boxes{
	display: block;
	background-color: #f0f0f0;
}
.boxes{
	flex-direction:flex-end;
}
.payment{
	background-color: white;
}
.payment p{
	text-align: center;
}
.tweets{
	background-color:#eb4f4e;
}
.location{
	background: url(../img/map.png);
	background-repeat: no-repeat;
	background-size: cover;
}