
header{
	background: url("../img/bg.png");
	height: 745px;
	width: 100%;
}
header a{
	display: line;
	color:white;
	text-align: right;
}
h1, h2, h3, h5, p{
	text-align: center;
}
.info{
	background-color:#232324;
}
.info h5{
	color:white;
}
.info p{
	color:#cf4436;
}
.infinity.png{
	align-items:center;
}
.team{
	background-color:#6cc372;
}
.col-md-profile:nth-child(1){
	display: inline-block;
	background-color: white;
}
.col-md-profile:nth-child(2){
	display: inline-block;
	background-color: white;
}
.col-md-profile:nth-child(3){
	display: inline-block;
	background-color: white;
}
.col-md-profile:nth-child(4){
	display: inline-block;
	background-color: white;
}
.view{
	background-color:#f0f0f0;
}